.loaderContainer {
    grid-row: 3/5;
    grid-column: 3/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 240px;
    height: 240px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}